* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: url("/styles/cat-coursor1.png"), auto;
}

/* Change cursor */


/* Background */
body {
    background-color: #5ff8ca;
}
  

/* Cursor on buttons */
button {
    cursor: url(/styles/cat-coursor1.png), auto !important;
}




/* Main style */
.animation {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   flex-direction: column;
}

.cat-container{
    width: 60%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cat-container img {
    width: 10rem;
}

.btn-container {
    margin-top: 25px;
}