* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Change cursor */


/* Background */
body {
    background-color: #5ff8ca;
    /* cursor: url("/styles/cat-coursor1.png"), auto; */
}
  

/* Cursor on buttons */
button {
    cursor: url(/styles/cursor.png), auto !important;
    font-size: 15px;
    margin: 2px;
    padding: 5px;
}




/* Main style */
.animation {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   flex-direction: column;
}

.cat-container{
    width: 60%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.cat-container img {
    width: 10rem;
}

.btn-container {
    margin-top: 25px;
}




  
#snack-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
    position: absolute;
    bottom: 10px;
}
  
#snack-container img {
    width: 50px;
    height: 50px;
    margin: 10px;
}